### Wind Potential and Wind Turbines

1)	How many wind turbines are there in the world? <br>
2)	What are the 5-10 countries with the most installed wind capacity? <br>
~~3)	Are there any regions or countries where wind potential is high, but installed capacity is low?~~<br>
4)	What is total global installed wind capacity? <br>

In [2]:
import requests
import pandas as pd

In [41]:
# 1) How many wind turbines are there in the world?

base_url = 'https://wri-rw.carto.com/api/v2/sql?q='
query_sql = 'SELECT COUNT(*) FROM powerwatch_data_20180102 WHERE fuel1=\'Wind\''
query_url = base_url + query_sql

r = requests.get(query_url)
df = pd.DataFrame.from_dict(r.json()['rows'])
df

   count
0   5084

In [44]:
# 2) What are the 5-10 countries with the most installed wind capacity?

base_url = 'https://wri-rw.carto.com/api/v2/sql?q='
query_sql = 'SELECT country_long AS country, SUM(capacity_mw) AS total_mw FROM powerwatch_data_20180102 WHERE fuel1=\'Wind\' GROUP BY country_long ORDER BY total_mw DESC LIMIT 10'
query_url = base_url + query_sql

r = requests.get(query_url)
df = pd.DataFrame.from_dict(r.json()['rows'])
df

                    country   total_mw
0  United States of America  82224.200
1                     China  50990.360
2            United Kingdom  18607.450
3                    Canada  12133.800
4                     Spain  11272.880
5                    Brazil  10294.954
6                    France   9062.632
7                   Germany   5059.362
8                  Portugal   4942.330
9                 Australia   4253.380

In [4]:
# 4) What is total global installed wind capacity?

base_url = 'https://wri-rw.carto.com/api/v2/sql?q='
query_sql = 'SELECT SUM(capacity_mw) AS global_capacity_mw FROM powerwatch_data_20180102 WHERE fuel1=\'Wind\''
query_url = base_url + query_sql

r = requests.get(query_url)
df = pd.DataFrame.from_dict(r.json()['rows'])
df

   global_capacity_mw
0          232799.928